* {
    font-family: JetBrainsMonoNL Nerd Font Propo, JetBrainsMonoNL Nerd Font Propo, FontAwesome,  sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
}

window#waybar {
    background-color: rgba(43, 44, 52, 0.8);
    color: #ffffff;
    transition: background-color 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    font-family: 'JetBrainsMonoNL Nerd Font Propo,', sans-serif;
}

#clock {
    min-width: 140px;
    color: #ffffff;
    padding: 0px 10px;
    border-radius: 4px;
}


#battery,
#cpu,
#memory,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#keyboard-state,
#scratchpad {
    padding: 5px 8px;
    color: #ffffff;
}

#battery.charging{
    background-color: #b5b4e2;
}

#battery.critical:not(.charging) {
    background-color: #b54f4f;
    animation: blink 0.5s linear infinite alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #3b3f51;
    }
}

#network.disconnected {
    background-color: #b54f4f;
}

#pulseaudio.muted {
    color: #b5b4e2;
}

#tray {
    color: #282a36;
}

#tray>.passive {
    -gtk-icon-effect: dim;
    color: #6272a4;
}

#tray>.needs-attention {
    background-color: #ff5555;
    color: #ffffff;
}
#workspaces button,
#mode {
    padding: 5px 8px;
    background-color: transparent;
    color: #ffffff;
}

/* Контейнер блока рабочих столов */
#workspaces {
  margin: 0 8px;
}

/* Кнопки рабочих столов */

/* Активный стол */
#workspaces button.active {
  background: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

/* Уведомление/urgent */
#workspaces button.urgent {
  background: #d70022;
  color: #ffffff;
}

/* Неактивные — слегка приглушённые */
#workspaces button:not(.active):not(.urgent) {
  opacity: 0.3;
}

/* Ховер */
#workspaces button:hover {
  opacity: 6.0;
}

#workspaces button.active {
  background: #8585a5;
  color: #ffffff;
}

label:focus {
    background-color: #000000;
}
