* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(10, 11, 15, 0.5); /* прозрачный фон с #0a0b0f */
}

button {
    border-radius:2;
    border-color: #FFF;
    text-decoration-color: #FFFFFF;
    color: #FFFFFF;
    background-color:#364653; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
}

button:focus, button:active, button:hover {
    background-color: #36556B; /* при наведении — тёмный полупрозрачный */
    outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}
#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}
#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}
#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}
#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}
#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}

